<div class="contain mt-5 p-5">
    <form [formGroup]="searchForm" (ngSubmit)="searchMovies()">
        <div class="row">
            <div class="mb-3 col-lg-10">
                <input type="text" class="form-control" formControlName="movieName" placeholder="Search Movie Here ...">
            </div>
            <div class="col-lg-2">
                <button class="btn btn-md">Search</button>
            </div>
        </div>
    </form>
    <div class="row mt-5">
        <div class="row mt-5">
            <ng-container *ngFor="let searchResult of searchResults">
                <div class="col-lg-4">
                    <div class="row" *ngIf="searchResult.poster_path">
                        <div class="col-lg-3 mt-4 mb-4">
                            <img src="https://image.tmdb.org/t/p/original/{{ searchResult.poster_path }}"
                                [routerLink]="['/movie',searchResult.id]" loading="lazy" alt="img1">
                        </div>
                        <div class="col-lg-9 mt-4 mb-4">
                            <h5>{{searchResult.original_title}}</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>